@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-50 text-gray-900;
}

button {
  @apply transition-all duration-200;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  transform: scale(0.98);
}
